<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> There are {{ full }} words in given text</h1>
    <h2>Given Text</h2>
    <p>
      {% for i in give %}
        {{ i }}
      {% endfor %}
    </p>
    <h2>Words and Counts:</h2>
    <p>
      <!-- {{ worditem }} -->
      {% for i,k in worditem %}

        {{ i }} {{ k }}
        <br/>
      {% endfor %}
    </p>
    <h2> Sorted by number of words:</h2>
    <p>
      {% for i,k in large %}
      {{ i }} {{ k }}
      <br/>
    {% endfor %}
    </p>
  </body>
</html>
